<div class="circuits-container" *ngIf="circuits">
  <swiper
    [slidesPerView]="5"
    [spaceBetween]="10"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
  >
    <ng-container *ngFor="let circuit of circuits; index as i">
      <ng-template swiperSlide>
        <div class="card">
          <div class="racename">{{ circuit.raceName }}</div>
          <div class="country">{{ circuit.Circuit.Location.country }}</div>
          <div class="locaty">{{ circuit.Circuit.Location.locality }}</div>
          <div class="date">{{ circuit.date }}</div>
        </div>
      </ng-template>
    </ng-container>
  </swiper>
</div>
